<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', {title : 'List of users' }) %>

    <body class="admin-body">
        <%- include('../components/navBar') %>

        <div class="">
            <div class="row">
                <%- include('../components/sideBarMenu') %>


                <main class="col-md-10 ms-sm-auto col-lg-11 px-md-4">
                    <div class="title-admin">
                        <h1>Users List</h1>                        
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <% if(infoUserLogged.idRole === 1) { %>
                                <th scope="col">Actions</th>
                            <% } %>
                            </tr>
                        </thead>

                        <tbody>
                            <% listUsers.forEach(user => { %>
                                <tr>
                                    <th scope="row">
                                        <%= user.id %>
                                    </th>
                                    <td>
                                        <% if(infoUserLogged.idRole === 1) { %>
                                            <a href="/admin/<%= user.id %>/editar-usuario">
                                                <%= user.name %>
                                            </a>
                                        <% } else { %>
                                            <%= user.name %>
                                        <%} %>
                                    </td>
                                    <td>
                                        <% if(infoUserLogged.idRole === 1) { %>
                                            <a href="/admin/<%= user.id %>/editar-usuario">
                                                <%= user.email %>
                                            </a>
                                        <% } else { %>
                                            <%= user.email %>
                                        <%} %>
                                    </td>
                                    <td><%= user.role %></td>
                                    <td>
                                        <% if(infoUserLogged.idRole === 1) { %>
                                            <form class="" action="/admin/<%= user.id %>/actualizar-estado-usuario?_method=PUT" method="post">
                                                <button type="submit" class="btn <%= user.state === 'Activo'? 'btn-success': 'btn-secondary'%>">
                                                    <%= user.state === 'Activo'? 'Active' : 'Inactive' %>
                                                </button>
                                            </form>

                                            <form class="" action="/admin/<%= user.id %>/borrar-usuario?_method=DELETE" method="post">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        <% } %>
                                    </td>
                                </tr>
                            <% }) %>                            
                            
                        </tbody>
                    </table>
                </main>
            </div>
        </div>
    </body>

</html>